@media(min-width: 350px) and (max-width: 500px) {
    .flex {
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flex-item-4, .flex-item-8, .flex-item-10, .flex-item-12 {
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
        align-self: auto;
    }

    /* MENU */

    .menu-nav li span {
        display: none;
    }

    .menu-nav {
        padding-top: 10px
    }

    .menu-nav ul li {
        font-size: 0.470rem;
        list-style: none;
    }

    /* PRINCIPAL */
    .principal h1 {
        font-size: 2.0em;
    }

    /* CARDAPIO */
    .cardapio-gourmet, .cardapio-comuns, .cardapio-trufados {
        margin-bottom: 15px;
    }


    /* INFORMACOES */
    

.contato, .endereco, .redes {
    flex: 1;
    text-align: center;
}

.endereco h3::after{
    content: '';
    display: block;
    width: 62px;
    height: 5px;
    background:#CC93A2;
    margin: 2px 0 0 39vw;
}

/* FORMULARIO */

label {
    text-align: center;
}

/* RODAPE */
.paragrafo-rodape {
    padding-bottom: 20px;
}
}
