/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Roboto:ital,wght@0,400;0,500;0,700;1,100;1,300&display=swap');


/* Reset */


* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, li,a {
    font-family: 'Akaya Telivigala', cursive;;
}

h2 {
    font-size: 2.25rem ;
    letter-spacing: 4px;
    color: #805C65;
    margin-bottom: 60px;
}

h3 {
    font-size: 1.5em ;
    letter-spacing: 2px;
    color: #000;
    margin: 20px 0;
}

a {
    text-decoration: none;
    transition: all .3s ease;
}

img {
    display: block;
    max-width: 100%;
}


/* ------------------------- MENU -------------------------------- */

/* Menu - geral */
.menu {
    background: #803649;
    padding: 15px 0;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 70px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
 /* Menu - navbar */

 .menu-nav {
    padding-left: 80px;
    display: flex;
    justify-content: flex-end;

} 

.menu-nav ul li {
    display: inline-block;
    list-style: none;
}

.menu-nav a {
    padding: 10px;
    text-decoration: none;
    color: #FFB7CA;
    font-size: 2.5em;
    letter-spacing: 6px;
}

.menu-nav a:hover {
    color: #fff;
}

/* Principal */

.principal {
    background: url('/img/background.jpg') no-repeat center center/cover;
    padding: 60px 0;
    text-align: center;
}

.principal h1 {
    color: #FFB7CA;
    font-size: 2.5em;
    letter-spacing: 4px;
}

.principal h1::after{
    content: '';
    display: block;
    width: 463px;
    height: 5px;
    background: #CC93A2;
    margin: 2px auto;
}

.principal h1::before {
    content: '';
    display: block;
    width: 463px;
    height: 5px;
    background: #CC93A2;
    margin: 0px auto;
}

.principal p {
    width: 400px;
    margin: 20px auto;
    font-size: 1.125em;
    font-style: italic;
    font-weight: lighter;
    padding: 20px 20px 0 20px;
    color: #fff;
}

/* Cardápio */

.cardapio-estilo {   
    margin: 60px auto;
    text-align: center;
}

.cardapio h2 {
    padding-top: 60px;
    text-align: center;
    margin: 0 auto;
}

.cardapio h2::after {
    content: '';
    display: block;
    width: 67px;
    height: 5px;
    background: #CC93A2;
    margin: 5px 0 0 49.5vw;
}

.cardapio h3 a {
    font-size: 1.5em ;
    letter-spacing: 2px;
    color: #252525;
    margin: 20px 0;
    text-decoration: none;
}

.cardapio h3 a:hover {
    color: #fff;
}

.cardapio h3::after {
    content: '';
    display: block;
    width: 65px;
    height: 3px;
    background: #fff;
    margin: 3px auto;
}

.cardapio p {
    font-size: 1.125em;
    padding: 0 30px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    color: #252525;
    font-style: italic;
}


.cardapio-gourmet, .cardapio-trufados {
    background: #805C65;
    width: 300px;
    padding-bottom: 20px;
    margin: 0 10px 0 10px;
}

.cardapio-comuns {
    background: #FFB7CA;
    width: 300px;
    margin: 0 10px 0 10px;
    padding-bottom: 20px;
}

.botao-claro {
    font-family: 'Roboto', sans-serif ;
    text-transform: uppercase;
    background: transparent;
    font-size: 1.1875em;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: #FFB7CA 2px solid;
    color: #FFB7CA;
}

.botao-claro:hover {
    background: #FFB7CA;
    border: #FFB7CA 2px solid;
    color: #803649;
}

.botao-escuro {
    font-family: 'Roboto', sans-serif ;
    text-transform: uppercase;
    background: transparent;
    font-size: 1.1875em;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: #803649 2px solid;
    color: #803649;
}

.botao-escuro:hover {
    background: #803649;
    border: #803649 2px solid;
    color: #FFB7CA;
}

/* Contato */

/* Contato - Mapa */
.localizacao {
    background: #FFB7CA;
    width: 100%;
}

.localizacao h2 {
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
}

.localizacao h2::after {
    content: '';
    display: block;
    width: 88px;
    height: 5px;
    background:#CC93A2;
    margin: 2px 0 0 53vw;
}

.mapa iframe {
    width: 100%;
    height: 300px;
}
 

/* Contato - informacoes */
.informacoes {
    background: #FFB7CA;
    padding-bottom: 80px;
    margin-bottom: 60px;

}


.informacoes h3 {
    font-size: 1.5em;
    color: #805C65;
    text-transform: uppercase;
}

.endereco h3::after, .contato h3::after {
    content: '';
    display: block;
    width: 62px;
    height: 5px;
    background:#CC93A2;
    margin: 2px 0 0 70px;
}

.informacoes p {
    line-height: 1.4em;
    font-size: 1.125em;
    font-style: italic;
    color: #252525;
}

.redes {
    display: flex;
    justify-content: flex-end;
}

.redes ul {
    width: 150px;
    margin: 10px 0;
}
.redes ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}



/* --------------------FORMULARIO--------------------- */

/* Titulo pedido container */
.pedido {
    font-family: 'Roboto', sans-serif;
}
.pedido h2 {
    text-align: center;
}

.pedido h2::after {
    content: '';
    display: block;
    width: 88px;
    height: 5px;
    background:#CC93A2;
    margin: 2px 0 0 52vw;
}

/* Formulario - geral */
.pedido-container {
    background: #cc93a2bf;
    height: auto;
    padding: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Class .formulario */

#texto-form {
    font-size: 0.70em;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.4em;
    color: #252525;
    text-align: center;
    margin: 30px auto;
}

/* Id - #form-info */

#form-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#form-info label, .detalhes-form label {
    display: block;
    color: #252525;
    font-size: 1.1875em;
    margin-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
}

#form-info input,textarea {
    color: #FFB7CA;
    font-family: 'Roboto', sans-serif;
    background: #805C65;
    border: #252525 1px solid;
    padding: 5px;
    width: 270px;
    box-shadow: 2px 2px 5px #333;
    outline: none;
}

/* Class - .detalhes-form */

.detalhes-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.detalhes-form textarea {
    resize: none;
}



.detalhes-form textarea {
    width: 305px;
    height: 240px;
    resize: none;
}

/* Id - #submit (botão) */
#submit {
    text-align: center;
    margin: 0 auto;
}

#submit button {
    background: transparent;
    border: #252525 2px solid;
    color: #252525;
    margin: 20px 0;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 1.1875em;
}

#submit button:hover {
    font-weight: bold;
    color: #803649;
    border: #803649 2px solid;
    transition: all .5s ease;
}

/* ------------------------- RODAPÉ -------------------------------------*/


.rodape {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #803936;
    width: 100%;
}

/* pai */
.rodape-container {
    /* background: blue; */
}

<<<<<<< HEAD
.icones-rodape ul {
<<<<<<< HEAD
    margin-top: 20px;
    margin-right: 500px;
=======
    display: flex;
    list-style: none;
>>>>>>> main
}
.icones-rodape ul li {
    padding-left: 10px;
}

.icones-rodape, .texto-rodape {
    color: #c4c4c4;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
<<<<<<< HEAD
    font-size: 1.125em;
    margin-left: 500px;
    margin-top: 5px;
    
=======
    font-size: 1.125em;    
>>>>>>> main
}
=======
/* filhos */
>>>>>>> main

.redes-rodape ul {  
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.redes-rodape ul li {
    margin: 0 10px;
}

.rodape p {
    color: #C4C4C4;
}

.paragrafo-rodape {
    display: flex;
    align-items: center;
}
