/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Roboto:ital,wght@0,400;0,500;0,700;1,100;1,300&display=swap');


/* Reset */


body, h1, h2, h3, p, ul {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, li,a {
    font-family: 'Akaya Telivigala', cursive;;
}

h2 {
    font-size: 2.25rem ;
    letter-spacing: 4px;
    color: #805C65;
    margin-bottom: 60px;
}

h3 {
    font-size: 1.5em ;
    letter-spacing: 2px;
    color: #000;
    margin: 20px 0;
}

a {
    text-decoration: none;
}


/* Menu */

.menu {
    background: #803649;
    padding: 15px 0;
}

.menu-container {
    max-width: 960px;
    margin: 0 auto;
}

.menu-container::after, .menu-container::before{
    content: '';
    display: table;
    clear: both;
}


a.menu-logo {
    display: block;
    float: left;
}

.menu-nav {
    float: right;
    margin-right: 10px;
    
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #FFB7CA;
    font-size: 2.5em;
    letter-spacing: 6px;
}

.menu-nav a:hover {
    color: #fff;
}

/* Principal */

.principal {
    background: url('/img/background.jpg') no-repeat center center/cover;
    padding: 60px 0;
    text-align: center;
}

.principal h1 {
    color: #FFB7CA;
    font-size: 2.5em;
    letter-spacing: 4px;
}

.principal h1::after{
    content: '';
    display: block;
    width: 463px;
    height: 5px;
    background: #CC93A2;
    margin: 2px auto;
}

.principal h1::before {
    content: '';
    display: block;
    width: 463px;
    height: 5px;
    background: #CC93A2;
    margin: 0px auto;
}

.principal p {
    width: 400px;
    margin: 20px auto;
    font-size: 1.125em;
    font-style: italic;
    font-weight: bolder;
    padding: 0 20px;
    color: #FFB7CA;
}

/* Cardápio */

.cardapio-container {
    max-width: 960px;
    margin: 60px auto 60px auto;
    text-align: center;
}

.cardapio-container::after, .cardapio-container::before {
        content: '';
        display: table;
        clear: both;
}

.cardapio h2::after {
    content: '';
    display: block;
    width: 65px;
    height: 5px;
    background: #CC93A2;
    margin: 2px 0 0 485px;
}

.cardapio h3 a {
    font-size: 1.5em ;
    letter-spacing: 2px;
    color: #333;
    margin: 20px 0;
    text-decoration: none;
}

.cardapio h3 a:hover {
    color: #fff;
}

.cardapio h3::after {
    content: '';
    display: block;
    width: 65px;
    height: 3px;
    background: #fff;
    margin: 3px auto;
}

.cardapio p {
    font-size: 1.125em;
    padding: 0 30px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}


.cardapio-gourmet, .cardapio-trufados {
    background: #805C65;
    width: 300px;
    padding-bottom: 20px;
    float: left;
    margin: 0 10px 0 10px;
}

.cardapio-comuns {
    background: #FFB7CA;
    width: 300px;
    float: left;
    margin: 0 10px 0 10px;
    padding-bottom: 20px;
}

.botao-claro {
    background: transparent;
    font-size: 1.5rem;
    padding: 5px 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: #FFB7CA 2px solid;
    color: #FFB7CA;
}

.botao-claro:hover {
    background: #FFB7CA;
    border: #FFB7CA 2px solid;
    color: #803649;
}

.botao-escuro {
    background: transparent;
    font-size: 1.5rem;
    padding: 5px 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: #803649 2px solid;
    color: #803649;
}

.botao-escuro:hover {
    background: #803649;
    border: #803649 2px solid;
    color: #FFB7CA;
}