/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Roboto:ital,wght@0,400;0,500;0,700;1,100;1,300&display=swap');


/* Reset */


body, h1, h2, h3, p, ul {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, li,a {
    font-family: 'Akaya Telivigala', cursive;;
}

h2 {
    font-size: 2.25rem ;
    letter-spacing: 4px;
    color: #805C65;
    margin-bottom: 60px;
}

h3 {
    font-size: 1.5em ;
    letter-spacing: 2px;
    color: #000;
    margin: 20px 0;
}

a {
    text-decoration: none;
    transition: all .3s ease;
}


/* Menu */

.menu {
    background: #803649;
    padding: 15px 0;
}

.menu-container {
    max-width: 960px;
    margin: 0 auto;
}

.menu-container::after, .menu-container::before{
    content: '';
    display: table;
    clear: both;
}


a.menu-logo {
    display: block;
    float: left;
}

.menu-nav {
    float: right;
    margin-right: 10px;
    
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #FFB7CA;
    font-size: 2.5em;
    letter-spacing: 6px;
}

.menu-nav a:hover {
    color: #fff;
}

/* Principal */

.principal {
    background: url('/img/background.jpg') no-repeat center center/cover;
    padding: 60px 0;
    text-align: center;
}

.principal h1 {
    color: #FFB7CA;
    font-size: 2.5em;
    letter-spacing: 4px;
}

.principal h1::after{
    content: '';
    display: block;
    width: 463px;
    height: 5px;
    background: #CC93A2;
    margin: 2px auto;
}

.principal h1::before {
    content: '';
    display: block;
    width: 463px;
    height: 5px;
    background: #CC93A2;
    margin: 0px auto;
}

.principal p {
    width: 400px;
    margin: 20px auto;
    font-size: 1.125em;
    font-style: italic;
    font-weight: lighter;
    padding: 20px 20px 0 20px;
    color: #fff;
}

/* Cardápio */

.cardapio-container {
    max-width: 960px;
    margin: 60px auto 60px auto;
    text-align: center;
}

.cardapio-container::after, .cardapio-container::before {
        content: '';
        display: table;
        clear: both;
}

.cardapio h2::after {
    content: '';
    display: block;
    width: 65px;
    height: 5px;
    background: #CC93A2;
    margin: 2px 0 0 485px;
}

.cardapio h3 a {
    font-size: 1.5em ;
    letter-spacing: 2px;
    color: #252525;
    margin: 20px 0;
    text-decoration: none;
}

.cardapio h3 a:hover {
    color: #fff;
}

.cardapio h3::after {
    content: '';
    display: block;
    width: 65px;
    height: 3px;
    background: #fff;
    margin: 3px auto;
}

.cardapio p {
    font-size: 1.125em;
    padding: 0 30px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    color: #252525;
    font-style: italic;
}


.cardapio-gourmet, .cardapio-trufados {
    background: #805C65;
    width: 300px;
    padding-bottom: 20px;
    float: left;
    margin: 0 10px 0 10px;
}

.cardapio-comuns {
    background: #FFB7CA;
    width: 300px;
    float: left;
    margin: 0 10px 0 10px;
    padding-bottom: 20px;
}

.botao-claro {
    background: transparent;
    font-size: 1.5rem;
    padding: 5px 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: #FFB7CA 2px solid;
    color: #FFB7CA;
}

.botao-claro:hover {
    background: #FFB7CA;
    border: #FFB7CA 2px solid;
    color: #803649;
}

.botao-escuro {
    background: transparent;
    font-size: 1.5rem;
    padding: 5px 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: #803649 2px solid;
    color: #803649;
}

.botao-escuro:hover {
    background: #803649;
    border: #803649 2px solid;
    color: #FFB7CA;
}

/* Formulario */

.pedido-container {

    background: #cc93a2bf;
    max-width: 960px;
    height: auto;
    margin: 60px auto;
}

.pedido-container::after, .pedido-container::before{
    content: '';
    display: table;
    clear: both;
}

.pedido h2 {
    text-align: center;
}

.pedido h2::after {
    content: '';
    display: block;
    width: 88px;
    height: 5px;
    background:#CC93A2;
    margin: 2px 0 0 970px;
}

.formulario {
    margin: 35px 10px 0 95px ;
}

.formulario::after, .formulario::before{
    content: '';
    display: table;
    clear: both;
}

.formulario label {
    display: block;
    color: #252525;
    font-size: 1.1875em ;
    margin-top: 10px;
    
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.formulario #detalhes{
    text-align: center;
}
.formulario .item-formulario {
    margin-bottom: 5px;
}

.formulario input,textarea {
    color: #FFB7CA;
    font-family: 'Roboto', sans-serif;
    background: #805C65;
    border: #000 1px solid;
    padding: 5px;
    width: 270px;
    box-shadow: 2px 2px 5px #333;
    outline: none;
}

.detalhes-form {
    margin-left: 405px;
}

.formulario textarea {
    width: 305px;
    height: 230px;
}

#form-info{
   float: left;
}


.formulario p {
    font-size: 0.75em;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 20px 0px 35px 0;
    line-height: 1.4em;
    color: #252525;
}

#submit {
    text-align: center;
    margin-bottom: 15px;
    margin-right: 80px;
}

#submit button {
    background: transparent;
    border: #252525 2px solid;
    color: #252525;
    margin: 20px 0;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 1.1875em;
}

#submit button:hover {
    font-weight: bold;
    color: #803649;
    border: #803649 2px solid;
    transition: all .1s ease;
}






